# Ignore my Continuous Deploy Keys/Credentials
.travis/*.key
.travis/*.key.pub
.travis/*.pem

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

#Ignore databases
*.sql

#Custom
node_modules
*.pid

#Ignore vim temporary files
*.sw*

#Ignore Coverage Dir
/coverage
test/unit/coverage/

#Ignore Sublime temporary files
.DS_Store

test/unit/coverage/

karma-*/
