# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
#Ignore databases
*.sql
/node_modules/
#Ignore vim temporary files
*.sw*

#Ignore development.rb file 
config/environments/development.rb
