version: '2'
services:
  
  front:
    container_name: falko-front
    image: alaxalves/front:1.5
    command: ["./scripts/sh/start-dev.sh"]
    volumes:
      - .:/Falko-2017.2-FrontEnd
    external_links:
      - falko20172backend_default
    ports:
      - 8080:8080
    networks:
      - default
      - falko20172backend_default
    ipc: host

networks:
  falko20172backend_default: 
    external: true
     
    
